- var path = "./";
footer.footer
  .container
    .footer__content
      p.footer__logo SLIYP
      .footer__navigation
        a(href="#").footer__navigation-item FAQ
        a(href="#").footer__navigation-item HELP
        a(href="#").footer__navigation-item PRIVACY
        a(href="#").footer__navigation-item TERM
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js")
script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
script(src=`${path}js/main.js`)
