- var path = "./";
header.header#header
  .container
    .header__content
      a(href="#").header__logo SLIYP
      .header__navigation
        .header__burger-icon#header-hamburger
          .header__burger-icon-inner
            span
            span
            span
        .header__nav-links
          .header__nav-links-inner
            a(href="#home").header__nav-link-item HOME
            a(href="#about").header__nav-link-item ABOUT
            a(href="#package").header__nav-link-item PACKAGE
            a(href="#trip").header__nav-link-item TRIP
            a(href="#testimony").header__nav-link-item TESTIMONY
            a(href="#blog").header__nav-link-item BLOG
            a(href="#contact").header__button TALK<br>TO US
